body {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 100px;
    width: 100px;
    border-radius: 20%;
    border: 2px solid black;
    margin: 0.5rem;
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d95980;
}

.purple {
    background-color: #819ff9;
}

.green {
    background-color: #63aac0;
}

.flash {
    background-color: #fff;
}

.uFlash{
    background-color: green;
}

@media only screen and (max-width: 600px) {
    body {
      padding-top: 50px;
    }
  }